body {
  box-sizing: border-box;
  font-size: 16px;
  /*stylelint-disable */
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  /*stylelint-enable */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  padding: 0 18px;
  max-width: 864px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.main-header__logo {
  width: 197px;
  height: 65px;
}

.main-header__logo-mobile {
  display: none;
  width: 50px;
  height: 44px;
}

.main-header__hamburger {
  display: none;
  width: 25px;
  height: 20px;
  border: none;
  background-color: inherit;
  background-image: url(img/hamburger.svg);
  font-size: 0;
}

.main-header__tel {
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  font-size: 21px;
  line-height: 1;
}

@media (max-width: 756px) {
  .main-header__logo {
    display: none;
  }

  .main-header__logo-mobile {
    display: block;
  }

  .main-header__hamburger {
    display: block;
  }
}

.menu {
  background-color: #3e4758;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
  letter-spacing: 0.9px;
  font-size: 13px;
}

.menu__link {
  display: inline-block;
  padding: 26px 0 18px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.39;
}

.menu__link--active {
  border-bottom: 3px solid #ffdd2d;
}

@media (max-width: 756px) {
  .menu {
    display: none;
  }
}

.primary-button {
  border: none;
  border-radius: 6px;
  background-color: #ffdd2d;
  color: #333;
  text-align: center;
  font-size: 17px;
  /*stylelint-disable */
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  /*stylelint-enable */
  line-height: 1.42;
}

.order-card-wrapper {
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to right, #1489e7, #003e82);
}

.order-card {
  margin: 0 0 90px;
}

.order-card::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(img/cards-mobile.png);
  background-position: 50% 62%;
  background-size: 576px;
  background-repeat: no-repeat;
  content: '';
  transform: translate(-286px);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .order-card::before {
    background-image: url(img/cards-mobile@2x.png);
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .order-card::before {
    background-image: url(img/cards-mobile@3x.png);
  }
}

.order-card__description {
  margin-left: 430px;
  padding: 92px 0 74px;
  color: #fff;
}

.order-card__header {
  margin: 0 0 17px;
  font-weight: 100;
  font-size: 50px;
  line-height: 1;
}

.order-card__text {
  margin: 0 0 19px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

.primary-button--order-card {
  padding: 19px 35px;
}

@media (max-width: 866px) {
  .order-card::before {
    background-position: -48% 62%;
    transform: none;
  }
}

@media (max-width: 756px) {
  .order-card-wrapper {
    background-image: linear-gradient(179deg, #168de7, #00428a);
  }

  .order-card {
    margin: 0 0 30px;
    background-position: center 300%;
    background-repeat: no-repeat;
  }

  .order-card::before {
    background-position: 50% 300%;
    background-size: 375px 358px;
  }

  .order-card__description {
    margin-left: 0;
    padding: 26px 0 30px;
    text-align: center;
  }

  .order-card__header {
    margin: 0 0 7px;
    font-size: 30px;
    line-height: 1.2;
  }

  .order-card__text {
    margin: 0 0 141px;
    font-size: 17px;
    line-height: 1.41;
  }

  .primary-button--order-card {
    padding: 19px 35px;
  }
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 45px auto 77px;
  padding: 12px;
  width: 100%;
  border: solid 1px #dddfe0;
  border-radius: 6px;
}

.field__input {
  flex-grow: 1;
  margin: 6px;
  padding: 9px 11px;
  max-width: 100%;
  outline: none;
  border: none;
  font-size: 21px;
  line-height: 1;
}

.tag {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin: 6px;
  padding: 12px 0 12px 11px;
  padding-right: 50px;
  max-width: 216px;
  border-radius: 6px;
  background-color: #eef2f7;
  color: #333;
  font-size: 13px;
  line-height: 1.39;
}

.tag__text {
  overflow: hidden;
  width: calc(100% + 50px);
  white-space: nowrap;
}

.tag__remove {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 22px 12px 22px 30px;
  width: 11px;
  height: 11px;
  border: none;
  background: rgba(0, 0, 0, 0);
  /*stylelint-disable */
  background-image: url(img/delete.svg),
    linear-gradient(to right, rgba(238, 242, 247, 0.5), #eef2f7 30%);
  /*stylelint-enable */
  background-position: 60% 50%;
  background-repeat: no-repeat;
  font-size: 0;
  cursor: pointer;
}

@media (max-width: 756px) {
  .field {
    margin: 24px auto 52px;
  }
}

.form {
  margin: 65px auto 39px;
  max-width: 540px;
  text-align: center;
}

.form__worksheet {
  display: flex;
  flex-direction: column;
  margin: 0 0 27px;
  padding: 0;
  border: none;
}

.form__item {
  position: relative;
  margin: 12px 0;
}

.form__item-input {
  padding: 23px 20px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #eef2f7;
  color: #333;
  font-size: 17px;
  /*stylelint-disable */
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  /*stylelint-enable */
  line-height: 1.18;
}

.form__item-label {
  position: absolute;
  top: 22px;
  left: 20px;
  color: #74a3c7;
  font-size: 17px;
  line-height: 1.18;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  transform: translate(0, 0);
}

.form__item-input[data-empty='false'],
.form__item-input:valid {
  padding: 32px 20px 14px;
}

.form__item-input:focus {
  padding: 32px 20px 14px;
  background-color: #fff;
}

.form__item-input[data-empty='false'] + .form__item-label,
.form__item-input:valid + .form__item-label,
.form__item-input:focus + .form__item-label {
  color: #74a3c7;
  font-size: 13px;
  line-height: 1.15;
  transform: translate(0, -8px);
}

.form__error {
  display: none;
  margin: 11px 0 4px;
  color: #d0021b;
  text-align: left;
  font-size: 13px;
  line-height: 1.16;
}

.form__warner {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: 21px 18px;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: inherit;
  background-image: url(img/warner.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.form__helper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 24px;
  width: 24px;
  height: 100%;
  border-radius: 6px;
  background-color: inherit;
  background-image: url(img/helper.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.form__helper-text {
  position: absolute;
  top: 20px;
  right: 56px;
  display: none;
  padding: 16px;
  width: 284px;
  border: solid 1px #dddfe0;
  border-radius: 6px;
  background-color: #fff;
  color: #9299a2;
  text-align: left;
  font-size: 13px;
  line-height: 1.38;
  transform: translate(0, -50%);
}

.form__helper:hover .form__helper-text {
  display: block;
}

.form__item--error .form__item {
  outline: none;
  box-shadow: 0 0 0 1px #d0011b;
}

.form__item--error .form__error {
  display: block;
}

.form__item--error .form__warner {
  display: block;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.primary-button--form {
  margin: 38px 0 42px;
  padding: 23px 86px;
}

@media (max-width: 756px) {
  .form {
    margin: 14px auto 39px;
  }

  .form__helper-text {
    width: 180px;
  }

  .primary-button--form {
    margin-bottom: 21px;
  }
}

.selector-header {
  margin: 30px 0 13px;
  color: #333;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.15;
}

.selector {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.selector__item {
  position: relative;
  margin: 12px;
  width: calc(50% - 24px);
  border: solid 1px #dddfe0;
  border-radius: 6px;
  color: #333;
  text-align: left;
  font-size: 17px;
  /*stylelint-disable */
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  /*stylelint-enable */
  line-height: 1.18;
}

.selector__label {
  position: relative;
  display: block;
  padding: 21px 18px;
}

.selector__checked {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: -1;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #eef2f7;
  content: '';
}

.selector__radio {
  position: absolute;
  visibility: hidden;
}

.selector__radio:checked ~ .selector__checked {
  border: 11px solid #ffdd2f;
  background-color: #3e4757;
}

@media (max-width: 756px) {
  .selector {
    margin: 0;
  }

  .selector__item {
    margin: 12px 0;
    width: 100%;
  }
}

.subheader {
  margin: 0;
  color: #333;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.08;
}

@media (max-width: 756px) {
  .subheader {
    font-size: 30px;
    line-height: 1.2;
  }

  .subheader--form {
    font-size: 24px;
  }
}

.footer-wrapper {
  padding: 35px 0 52px;
  border-top: 1px solid #dddfe0;
}

.main-footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.footer-menu__group {
  margin-bottom: 36px;
  width: 50%;
}

.footer-menu__header {
  margin: 0 0 11px;
  color: #9299a2;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
}

.footer-menu__link {
  color: #74a3c7;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.77;
}

.footer-mobile-menu {
  display: none;
}

.info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 432px;
}

.tel {
  display: flex;
  align-items: flex-start;
}

.tel__info {
  width: 180px;
}

.tel__number {
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  font-size: 21px;
  line-height: 1.43;
}

.tel__text {
  color: #9299a2;
  font-size: 13px;
  line-height: 1.77;
}

.tel__button {
  padding: 16px 0 16px 28px;
  width: 252px;
  border: solid 1px #74a3c7;
  border-radius: 6px;
  background-color: inherit;
  background-image: url(img/tel.svg);
  background-position: left 21px top 15px;
  background-repeat: no-repeat;
  color: #74a3c7;
  font-size: 17px;
  /*stylelint-disable */
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  /*stylelint-enable */
  line-height: 0.94;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px;
  width: 100%;
}

.social__link {
  width: 48px;
  height: 49px;
  background-size: 48px 49px;
  background-repeat: no-repeat;
  font-size: 0;
}

.social__link--vk {
  background-image: url(img/social/vk.svg);
}

.social__link--fb {
  background-image: url(img/social/fb.svg);
}

.social__link--twi {
  background-image: url(img/social/twi.svg);
}

.social__link--ok {
  background-image: url(img/social/ok.svg);
}

.social__link--gp {
  background-image: url(img/social/gp.svg);
}

.social__link--yt {
  background-image: url(img/social/yt.svg);
}

.mobile {
  display: none;
}

.links__item {
  margin-right: 30px;
  color: #74a3c7;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.77;
}

.copyright {
  margin: 13px 0 0;
  max-width: 504px;
  color: #9299a2;
  font-size: 13px;
  line-height: 1.23;
}

.language {
  margin-top: 9px;
  padding: 4px 33px 4px 0;
  border: none;
  background: inherit;
  background-image: url(img/lang.png);
  background-position: right 0;
  background-size: 24px;
  background-repeat: no-repeat;
  color: #9299a2;
  font-size: 13px;
  /*stylelint-disable */
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  /*stylelint-enable */
  line-height: 1.24;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .language {
    background-image: url(img/lang@2x.png);
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .language {
    background-image: url(img/lang@3x.png);
  }
}

@media (max-width: 756px) {
  .footer-wrapper {
    padding: 36px 18px 18px;
    border: none;
    background-color: #f6f7f8;
  }

  .main-footer {
    margin: auto;
    max-width: 252px;
  }

  .footer-menu {
    display: none;
  }

  .tel__info {
    display: none;
  }

  .social {
    margin-bottom: 30px;
  }

  .social__link {
    width: 29px;
    height: 29px;
    background-size: 29px;
  }

  .footer-mobile-menu {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .footer-mobile-menu__link {
    margin: 0 0 16px;
    width: 50%;
    color: #9299a2;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
  }

  .links__item {
    margin-right: 7px;
    line-height: 1.85;
  }

  .links__item:last-child {
    display: inline-block;
    margin: 18px 0;
    line-height: 1.38;
  }

  .copyright {
    max-width: 198px;
    line-height: 1.31;
  }

  .language {
    align-self: flex-end;
    margin-bottom: 2px;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 0;
  }
}
