body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: @default-font;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  margin: 0 auto;
  padding: 0 18px;
  max-width: 864px;
}
