.footer-wrapper {
  padding: 35px 0 52px;
  border-top: 1px solid #dddfe0;

  @media (max-width: @table-width) {
    padding: 36px 18px 18px;
    border: none;
    background-color: #f6f7f8;
  }
}

.main-footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: @table-width) {
    margin: auto;
    max-width: 252px;
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  width: 288px;

  @media (max-width: @table-width) {
    display: none;
  }
}

.footer-menu__group {
  margin-bottom: 36px;
  width: 50%;
}

.footer-menu__header {
  margin: 0 0 11px;
  color: #9299a2;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
}

.footer-menu__link {
  color: #74a3c7;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.77;

  &:hover {
    text-decoration: underline;
  }
}

.footer-mobile-menu {
  display: none;

  @media (max-width: @table-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.footer-mobile-menu__link {
  margin: 0 0 16px;
  width: 50%;
  color: #9299a2;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 432px;
}

.tel {
  display: flex;
  align-items: flex-start;
}

.tel__info {
  width: 180px;

  @media (max-width: @table-width) {
    display: none;
  }
}

.tel__number {
  color: @dark-grey-color;
  text-decoration: none;
  white-space: nowrap;
  font-size: 21px;
  line-height: 1.43;
}

.tel__text {
  color: #9299a2;
  font-size: 13px;
  line-height: 1.77;
}

.tel__button {
  padding: 16px 0 16px 28px;
  width: 252px;
  border: solid 1px #74a3c7;
  border-radius: 6px;
  background-color: inherit;
  background-image: url(img/tel.svg);
  background-position: left 21px top 15px;
  background-repeat: no-repeat;
  color: #74a3c7;
  font-size: 17px;
  font-family: @default-font;
  line-height: 0.94;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #eef2f7;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px;
  width: 100%;

  @media (max-width: @table-width) {
    margin-bottom: 30px;
  }
}

.social__link {
  width: 48px;
  height: 49px;
  border-radius: 50%;
  background-size: 48px 49px;
  background-repeat: no-repeat;
  font-size: 0;
  transition: background-color 0.3s;

  &:hover {
    background-color: #eef2f7;
  }

  @media (max-width: @table-width) {
    width: 29px;
    height: 29px;
    background-size: 29px;
  }
}

@social: vk, fb, twi, ok, gp, yt;

.social-generator(@index: 1) when (@index <= length(@social)) {
  @item: extract(@social, @index);

  .social__link--@{item} {
    background-image: ~'url(img/social/@{item}.svg)';
  }

  .social-generator(@index + 1);
}

.social-generator();

.links__item {
  margin-right: 30px;
  color: #74a3c7;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.77;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: @table-width) {
    margin-right: 7px;
    line-height: 1.85;

    &:last-child {
      display: inline-block;
      margin: 18px 0;
      line-height: 1.38;
    }
  }
}

.copyright {
  margin: 13px 0 0;
  max-width: 504px;
  color: #9299a2;
  font-size: 13px;
  line-height: 1.23;

  @media (max-width: @table-width) {
    max-width: 198px;
    line-height: 1.31;
  }
}

.language {
  margin-top: 9px;
  padding: 4px 33px 4px 0;
  border: none;
  background: inherit;
  background-image: url(img/lang.png);
  background-position: right 0;
  background-size: 24px;
  background-repeat: no-repeat;
  color: #9299a2;
  font-size: 13px;
  font-family: @default-font;
  line-height: 1.24;
  cursor: pointer;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(img/lang@2x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
    background-image: url(img/lang@3x.png);
  }

  @media (max-width: @table-width) {
    align-self: flex-end;
    margin-bottom: 2px;
    padding: 0;
    width: 24px;
    height: 24px;
    font-size: 0;
  }
}
